.warpper {
    height: 100vh;
}

body {
    background-color: rgb(245, 245, 245) !important;
}

.box__body {
    margin-top: 20px;
    width: 100%;
    min-height: 550px;
    background-color: white;
    border: solid 1px #7f7f7f;
    border-radius: 5px;
    padding: 10px 10px 10px 10px;
}

.box__body .box__name {}

.box__body .box__name>p {
    font-size: 24px;
    font-weight: 600;
}

.box__body .box__ingredients {}

.box__body .box__ingredients p {
    margin: 0 !important;
    font-size: 14px !important;
    font-weight: 400 !important;
}

.box__body .box__ingredients .box__ingredients__list {
    margin-left: 20px;
    margin-bottom: 10px;
}

.red {
    background-color: red;
}

.blue {
    background-color: blue;
}

.green {
    background-color: green;
}

.purple {
    background-color: purple;
}

.pink {
    background-color: pink;
}

.header {
    padding-left: 50px;
    padding-right: 50px;
    width: 100%;
    height: 60px;
    background-color: cornflowerblue;
}

.header .header__link {
    float: left;
    margin-top: 5px;
}

.header .header__link a {
    color: white;
    font-size: 30px;
}

.header .header__meun {
    float: right;
    margin-top: 15px;
}

.header .header__meun a {
    color: white;
    font-size: 16px;
    margin: 5px 5px 5px 5px;
}

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 60px;
    background-color: cornflowerblue;
}

.footer>p {
    color: white;
    text-align: center;
    margin-top: 15px;
    font-size: 20px;
}