body {
    /* font-family: inherit !important; */
    background-color: whitesmoke !important;
}

.bg-steelblue {
    background-color: #4267b2 !important;
}

.header {
    height: 70px;
    width: 100%;
    margin-bottom: 20px;
}

.a-link {
    margin-top: 37px;
}

.text-link {
    font-size: 12px;
}

.header .header-brand p {
    float: left;
    font-weight: 600;
    font-size: 2.4rem;
    color: white;
}

.header .header-from {
    float: right;
    margin: 10px 0 0 0;
}

.header .header-from input[type="email"],
.header .header-from input[type="password"] {
    box-sizing: border-box;
    height: 25px;
    width: 100%;
}

.header .header-from .label-from {
    color: white;
    font-size: 12px !important;
}

.header .header-from .btn-login {
    margin-top: 17.5px;
    background-color: #214386;
    color: white;
    font-size: 14px;
    height: 25px;
    width: 50px;
    border: none;
    border-radius: 3px;
}

.header .header-from .btn-login:hover {
    background-color: #0d2453;
}

.warpper {
    position: relative;
    top: 0;
    height: 100vh;
}

.img-fb {
    width: 100% !important;
    height: 195 !important;
}

@media (max-width: 992px) {
    .header {
        height: 50px;
        width: 100%;
        margin-bottom: 10rem;
    }
    .header .header-brand p {
        float: none;
        text-align: center;
        font-weight: 600;
        font-size: 1.8rem;
        color: white;
    }
    .header .header-from {
        /* display: none; */
        float: none;
        margin: 10px 0 0 0;
    }
    .header .header-from input[type="email"],
    .header .header-from input[type="password"] {
        box-sizing: border-box;
        border: solid 1px #2b2b2b;
        border-radius: 2px;
        height: 25px;
        width: 100%;
    }
    .header .header-from .label-from {
        color: #2b2b2b;
        font-size: 12px !important;
        margin: 0;
    }
    .header .header-from .btn-login {
        justify-content: right;
    }
    .img-fb {
        width: 100% !important;
        height: 100 !important;
    }
    .mo-center {
        text-align: center;
    }
    .a-link {
        margin: 0;
    }
}