body {
    background-color: whitesmoke !important;
}

.bg-steelblue {
    background-color: #4267b2 !important;
}

.warpper {
    position: relative;
    top: 0;
    height: 100vh;
}

.sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    width: 260px;
    background-color: rgb(52, 61, 68);
    box-shadow: 0 10px 30px -12px rgba(0, 0, 0, 0.42), 0 4px 25px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
}

.sidebar:before {
    opacity: .33;
}

.sidebar:after,
.sidebar:before {
    display: block;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 2;
}

.sidebar .sidebar-wrapper {
    position: relative;
    height: calc(100vh - 75px);
    overflow: auto;
    z-index: 4;
}

.sidebar .logo {
    background-color: steelblue;
    color: whitesmoke;
    position: relative;
    padding: 8px 8px;
    z-index: 4;
    text-align: center;
}

.main-panel {
    position: relative;
    float: right;
    width: calc(100% - 260px);
    -webkit-transition: all 0.33s cubic-bezier(0.685, 0.0473, 0.346, 1);
    -moz-transition: all 0.33s cubic-bezier(0.685, 0.0473, 0.346, 1);
    -o-transition: all 0.33s cubic-bezier(0.685, 0.0473, 0.346, 1);
    -ms-transition: all 0.33s cubic-bezier(0.685, 0.0473, 0.346, 1);
    transition: all 0.33s cubic-bezier(0.685, 0.0473, 0.346, 1);
    max-height: 100%;
}

.nav-link {
    color: white !important;
}

.navbar-brand {
    color: white !important;
    font-size: 2.4rem !important;
    font-weight: 700 !important;
}

.container-header {
    width: 100%;
    padding: 0 12rem 0 12rem;
    margin-right: auto;
    margin-left: auto;
}