.warpper {
  height: 100vh;
}

body {
  background-color: rgb(245, 245, 245) !important;
}

.box__body {
  margin-top: 20px;
  margin-bottom: 20px;
  width: 100%;
  min-height: 550px;
  background-color: white;
  border: solid 1px #7f7f7f;
  border-radius: 5px;
  padding: 10px 10px 10px 10px;
}

.box__body .box__img {
  width: 100%;
  height: 200px;
  margin-bottom: 15px;
}

.box__body .box__img img {
  width: 100%;
  height: 200px;
}

.box__body .box__name {}

.box__body .box__name>p {
  font-size: 24px;
  font-weight: 600;
}

.box__body .box__ingredients {}

.box__body .box__ingredients p {
  margin: 0 !important;
  font-size: 14px !important;
  font-weight: 400 !important;
}

.box__body .box__ingredients .box__ingredients__list {
  margin-left: 20px;
  margin-bottom: 10px;
}

.red {
  background-color: red;
}

.blue {
  background-color: blue;
}

.green {
  background-color: green;
}

.purple {
  background-color: purple;
}

.pink {
  background-color: pink;
}

.header {
  padding-left: 50px;
  padding-right: 50px;
  width: 100%;
  height: 60px;
  background-color: cornflowerblue;
}

.header .header__link {
  float: left;
  margin-top: 5px;
}

.header .header__link a {
  color: white;
  font-size: 30px;
}

.header .header__menu {
  float: right;
  margin-top: 15px;
}

.header .header__menu a {
  color: white;
  font-size: 16px;
  margin: 5px 5px 5px 5px;
}

.footer {
  margin-top: 20px;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 60px;
  background-color: cornflowerblue;
}

.footer>p {
  color: white;
  text-align: center;
  margin-top: 15px;
  font-size: 20px;
}

.box__color {
  margin: 10px 0 10px 0;
  height: 150px;
  width: 100%;
  border: solid 2px #2b2b2b;
  border-radius: 5px;
  box-shadow: 3px 3px 2px 1px rgba(59, 59, 59, 0.4);
}

.center {
  margin: auto;
}

.boxed-view {
  align-items: center;
  display: flex;
  justify-content: center;
  height: 100vh;
  width: 100vw;
}

.boxed-view--modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.boxed-view__box {
  background-color: #e7e7e7;
  padding: 1.8rem;
  text-align: center;
  width: 24rem;
  min-height: 30rem;
}

.boxed-view__form {
  display: flex;
  flex-direction: column;
}

.button {
  background-color: #5b4681;
  border: none;
  color: white;
  cursor: pointer;
  font-size: 1rem;
  margin-bottom: 0.7rem;
  padding: 0.7rem;
  text-transform: uppercase;
  line-height: 1.2;
}

.button--link {
  display: inline-block;
  text-decoration: none;
}

.button--pill {
  background-color: transparent;
  color: #5b4681;
  border: 1px solid #5b4681;
  margin: 0 (1.2rem/2) 0 0;
  padding: .3rem .8rem;
}

.button--secondary {
  background: #f9f9f9;
  border: 1px solid #dddddd;
  color: #777777;
}

.button--link-text {
  background: none;
  padding: 0;
  margin: 0;
  text-decoration: underline;
  text-transform: none;
}

input[type=text],
input[type=email],
input[type=password] {
  border: 1px solid #dddddd;
  font-size: 0.8rem;
  margin-bottom: 0.8rem;
  padding: 0.8rem;
}